@import 'reset';

$width:1024px;
$height:640px;
$fontSize:25px;
$break:1324px;



body{
    background: url("tweed.png");
    font-size: $fontSize;
}

.offScroll{
    overflow: hidden;
}

header{
    position: absolute;
    top: 20px;
    left: $width*0.5+40px;
    padding: 20px;
    h1{
        color: #cccccc;
        font-size: $fontSize*2;
    }
}

.slide{
    position:relative;
    width:$width;
    height:$height;
    background:#FFF;
    color:#000;
    -webkit-print-color-adjust:exact;
    -webkit-text-size-adjust:none;
    -moz-text-size-adjust:none;
    -ms-text-size-adjust:none;
    margin:0 (100-$width/2) (100-$height/2) 0;
    transform-origin:0 0;
    transform:scale(0.5);
    visibility: hidden;
    @media (max-width:$break) {
        margin:0 (80-($width/2+$width/4)) (80-($height/2+$height/4)) 0;
        transform:scale(0.25);
    }

    h2{
        font-size: $fontSize*1.5;
        color: #cccccc;
    }

    &:nth-child(2){
        visibility: visible;
        float: left;
    }




}

.list{
    overflow:hidden;
}

.full{
    position:absolute;
    top:50%;
    left:50%;
    overflow:hidden;
    margin:(-$height/2) 0 0 (-$width/2);
    width:$width;
    height:$height;
    background:#000;

    & header{
        visibility: hidden;
    }

    & .slide{
        transform:none;
        position:absolute;
        top:0;
        left:0;
        visibility: hidden;
        //margin-left:150%;
        .next {
            visibility: hidden;
        }
        .next.active{
            visibility: visible;
        }
    }

    .slide.active{
        visibility: visible;
    }

    .slide.visited{
        visibility: hidden;
    }
}
