html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background: url("tweed.png");
  font-size: 23px; }

.offScroll {
  overflow: hidden; }

header {
  position: absolute;
  top: 20px;
  left: 552px;
  padding: 20px; }
  header h1 {
    color: #cccccc;
    font-size: 46px; }

.slide {
  position: relative;
  width: 1024px;
  height: 640px;
  background: #FFF;
  color: #000;
  -webkit-print-color-adjust: exact;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  margin: 0 -412px -220px 0;
  transform-origin: 0 0;
  transform: scale(0.5);
  visibility: hidden; }
  @media (max-width: 1324px) {
    .slide {
      margin: 0 -688px -400px 0;
      transform: scale(0.25); } }
  .slide:nth-child(2) {
    visibility: visible;
    float: left; }

.slide {
  padding: 40px; }
  .slide h2 {
    font-size: 34.5px;
    color: #cccccc;
    padding: 0 0 37px; }
  .slide p {
    width: 100%;
    padding: 0 0 50px; }
  .slide b, .slide strong {
    font-weight: bold; }
  .slide i, .slide em {
    font-style: italic; }
  .slide code, .slide kbd, .slide mark, .slide samp {
    padding: 3px 8px;
    border-radius: 8px;
    color: #000; }
  .slide kbd, .slide code, .slide samp {
    background: rgba(0, 0, 0, 0.07);
    color: #000;
    line-height: 1;
    font-family: monospace; }
  .slide mark {
    background-color: gold; }
  .slide sub, .slide sup {
    position: relative;
    line-height: 0;
    font-size: 75%; }
  .slide sub {
    bottom: -0.25em; }
  .slide sup {
    top: -0.5em; }
  .slide ol, .slide ul {
    margin: 0 0 50px;
    counter-reset: list; }
    .slide ol li, .slide ul li {
      text-indent: -2em; }
      .slide ol li:before, .slide ul li:before {
        display: inline-block;
        width: 2em;
        color: #BBB;
        text-align: right; }
    .slide ol ol, .slide ol ul, .slide ul ol, .slide ul ul {
      margin: 0 0 0 2em; }
  .slide ul > li:before {
    content: '\2022\00A0\00A0'; }
  .slide ul > li:lang(ru):before {
    content: '\2014\00A0\00A0'; }
  .slide ol > li:before {
    counter-increment: list;
    content: counter(list) ".\00A0"; }
  .slide pre {
    margin: 0 0 49px 50px;
    padding: 1px 0 0;
    counter-reset: code;
    white-space: normal;
    tab-size: 4; }
    .slide pre code {
      display: block;
      padding: 0;
      background: none;
      white-space: pre;
      line-height: 2; }
      .slide pre code:before {
        position: absolute;
        margin-left: -50px;
        color: #BBB;
        counter-increment: code;
        content: counter(code,decimal-leading-zero) "."; }
      .slide pre code:only-child:before {
        content: ''; }
    .slide pre mark.important {
      background: #C00;
      color: #FFF; }
    .slide pre mark.comment {
      padding: 0;
      background: none;
      color: #999; }
  .slide table {
    margin: 0 0 50px;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0; }
    .slide table th, .slide table td {
      border-bottom: solid 1px #BBBBBB; }
    .slide table th {
      text-align: left;
      font-weight: bold; }

.progress {
  visibility: hidden;
  position: fixed;
  bottom: 0;
  left: 0;
  display: block;
  height: 10px;
  width: 100%;
  z-index: 800;
  background-color: #FFFFFF; }
  .progress .bar {
    display: block;
    height: 100%;
    width: 0;
    background-color: cadetblue; }

.list {
  overflow: hidden; }

.full {
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: hidden;
  margin: -320px 0 0 -512px;
  width: 1024px;
  height: 640px;
  background: #000; }
  .full header {
    visibility: hidden; }
  .full .slide {
    transform: none;
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden; }
    .full .slide .next {
      visibility: hidden; }
    .full .slide .next.active {
      visibility: visible; }
  .full .slide.active {
    visibility: visible; }
  .full .slide.visited {
    visibility: hidden; }
