html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background: url("tweed.png");
  font-size: 25px; }

.offScroll {
  overflow: hidden; }

header {
  position: absolute;
  top: 20px;
  left: 552px;
  padding: 20px; }
  header h1 {
    color: #cccccc;
    font-size: 50px; }

.slide {
  position: relative;
  width: 1024px;
  height: 640px;
  background: #FFF;
  color: #000;
  -webkit-print-color-adjust: exact;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  margin: 0 -412px -220px 0;
  transform-origin: 0 0;
  transform: scale(0.5);
  visibility: hidden; }
  @media (max-width: 1324px) {
    .slide {
      margin: 0 -688px -400px 0;
      transform: scale(0.25); } }
  .slide h2 {
    font-size: 37.5px;
    color: #cccccc; }
  .slide:nth-child(2) {
    visibility: visible;
    float: left; }

.progress {
  visibility: hidden;
  position: fixed;
  bottom: 0;
  left: 0;
  display: block;
  height: 10px;
  width: 100%;
  z-index: 800;
  background-color: #FFFFFF; }
  .progress .bar {
    display: block;
    height: 100%;
    width: 0;
    background-color: cadetblue; }

.list {
  overflow: hidden; }

.full {
  position: absolute;
  top: 50%;
  left: 50%;
  overflow: hidden;
  margin: -320px 0 0 -512px;
  width: 1024px;
  height: 640px;
  background: #000; }
  .full header {
    visibility: hidden; }
  .full .slide {
    transform: none;
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden; }
    .full .slide .next {
      visibility: hidden; }
    .full .slide .next.active {
      visibility: visible; }
  .full .slide.active {
    visibility: visible; }
  .full .slide.visited {
    visibility: hidden; }
