@import 'reset';

$Nwidth:480px;
$Nheight:360px;
$FSwidth:1024px;
$FSheight:640px;
$fontSize:18px;



body{
    background: url("tweed.png");
    font-size: $fontSize;
}



header{
    position: absolute;
    top: 20px;
    left: $Nwidth+40px;
    padding: 20px;
    margin: 20px;

    h1{
        color: #cccccc;
        font-size: $fontSize*2;
    }
    + .slide{
        display: block;
        float: left;
    }
}

.slide{
    display: none;
    background: #ffffff;
    position: relative;
    width: $Nwidth;
    height: $Nheight;
    padding: 20px;
    margin: 20px;

    h2{
        font-size: $fontSize*1.5;
        color: #cccccc;
    }
}

.slide.full{
    position: absolute;
    margin: auto;
    width: $FSwidth;
    height: $FSheight;
}
